{% extends 'base.html.twig' %}

{% block title %} | Accueil{% endblock %}

{% block body %}
    <main id="home">
        <section>
            <div>
                <h1>Moonmus<span>.</span>collection</h1>
                <div class="buttons">
                    <a href="" class="btn primary">Connexion</a>
                    <a href="" class="btn secondary">Inscription</a>
                </div>
            </div>
            <figure>
                <img src="{{ asset('assets/img/une.png') }}" alt="Image à la une Moonmus" width="550" height="750">
            </figure>
        </section>
        <section>
            <h2>Produits populaires</h2>
            <article class="popular-products">
                <figure class="product">
                    <img src="{{ asset('assets/img/une.png') }}" alt="Nom du produit" width="200" height="300">
                    <figcaption class="description">
                        <span class="price">35.99€</span>
                        <h5 class="title">Abaya Satinée Maryam</h5>
                        <a href="#" class="btn primary">Voir l'article</a>
                    </figcaption>
                </figure>
                <figure class="product">
                    <img src="{{ asset('assets/img/une.png') }}" alt="Nom du produit" width="200" height="300">
                    <figcaption class="description">
                        <span class="price">35.99€</span>
                        <h5 class="title">Abaya Satinée Maryam</h5>
                        <a href="#" class="btn primary">Voir l'article</a>
                    </figcaption>
                </figure>
                <figure class="product">
                    <img src="{{ asset('assets/img/une.png') }}" alt="Nom du produit" width="200" height="300">
                    <figcaption class="description">
                        <span class="price">35.99€</span>
                        <h5 class="title">Abaya Satinée Maryam</h5>
                        <a href="#" class="btn primary">Voir l'article</a>
                    </figcaption>
                </figure>
            </article>
        </section>
        <section>
            <div class="categories">
                <div class="title-styled">
                    <div class="circle"></div>
                    <div class="line"></div>
                    <div class="square">
                        <h2>Catégories</h2>
                    </div>
                </div>
                <div class="links">
                    {% if (categories) %}
                        {% for category in categories %}
                            <a href="{{ path('shop.category', { slug: category.slug }) }}" class="link">
                                <img src="{{ vich_uploader_asset(category, 'imageFile') | imagine_filter('categories') }}" alt="{{ category.name }}" width="220" height="160">
                                <h4>{{ category.name }}</h4>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
