<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/svg" href="{{ asset('assets/img/logo.svg') }}">
        <title>Moonmus{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <img src="{{ asset('assets/img/logo.svg') }}" alt="Moonmus Logo" class="logo" width="64" height="64" />
            <img src="{{ asset('assets/img/close.svg') }}" alt="Icône Instagram" width="32" height="32" class="linked-icon close"/>
            <img src="{{ asset('assets/img/menu.svg') }}" alt="Icône Instagram" width="32" height="32" class="linked-icon open"/>
            <nav>
                <ul>
                    <li><a href="{{ path('admin') }}">Administration</a></li>
                </ul>
                <ul>
                    <li {{ (page is defined and page == 'home') ? 'class="active"' : null }}>
                        <a href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li {{ (page is defined and page == 'shop') ? 'class="active"' : null }}>
                        <a href="{{ path('shop.index') }}">Boutique</a>
                    </li>
                    <li {{ (page is defined and page == 'register') ? 'class="active"' : null }}>
                        <a href="{{ path('home') }}">Inscription</a>
                    </li>
                    <li {{ (page is defined and page == 'login') ? 'class="active"' : null }}>
                        <a href="{{ path('home') }}">Connexion</a>
                    </li>
                </ul>
                <ul>
                    <li><a href="#"><img src="{{ asset('assets/img/user.svg') }}" alt="Icône utilisateur" width="24" height="24" class="linked-icon"></a></li>
                    <li><a href="#"><img src="{{ asset('assets/img/cart.svg') }}" alt="Icône chariot" width="24" height="24" class="linked-icon"></a></li>
                </ul>
            </nav>
        </header>

        {% block body %}{% endblock %}

        <footer>
            <div>
                <img src="{{ asset('assets/img/logo.svg') }}" alt="Moonmus Logo" class="logo" width="128" height="128" />
                <p class="copyright">Copyright © 2022 - <a href="https://amina-seraoui.vercel.app/fr">Amina Seraoui</a>. Tous droits réservés.</p>
            </div>
            <nav>
                {% if (categories) %}
                    <ul data-title="Catégories">
                        {% for category in categories %}
                            <li {{ (page is defined and page == 'login') ? 'class="active"' : null }}>
                                <a href="{{ path('shop.category', { slug: category.slug }) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <ul data-title="Mentions légales">
                    <li><a href="#">CGV</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Service client</a></li>
                </ul>
                <ul data-title="Retrouvez-nous">
                    <li><a href="#"><img src="{{ asset('assets/img/insta.svg') }}" alt="Icône Instagram" width="32" height="32" class="linked-icon"></a></li>
                    <li><a href="#"><img src="{{ asset('assets/img/fb.svg') }}" alt="Icône Facebook" width="32" height="32" class="linked-icon"></a></li>
                    <li><a href="#"><img src="{{ asset('assets/img/twitter.svg') }}" alt="Icône Twitter" width="32" height="32" class="linked-icon"></a></li>
                    <li><a href="#"><img src="{{ asset('assets/img/tiktok.svg') }}" alt="Icône Tiktok" width="32" height="32" class="linked-icon"></a></li>
                </ul>
            </nav>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
