<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Moonmus{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <nav class="navbar" id="main-navbar">
                <ul>
                    <li class="active"><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('home') }}">Boutique</a></li>
                    <li><a href="{{ path('home') }}">Inscription</a></li>
                    <li><a href="{{ path('home') }}">Connexion</a></li>
                </ul>
                <ul>
                    <li><a href="#"><span>Mon Compte</span></a></li>
                    <li><a href="#"><span>Panier</span></a></li>
                </ul>
            </nav>
        </header>

        {% block body %}{% endblock %}

        <footer>
            <div>
                <p>Copyright © 2022 - Amina Seraoui. Tous droits réservés.</p>
                <img src="" alt="">.logo
            </div>
            <nav>
                <ul data-title="Catégories">
                    <li><a href="#">Femmes</a></li>
                    <li><a href="#">Hommes</a></li>
                    <li><a href="#">Livres</a></li>
                    <li><a href="#">Soins</a></li>
                    <li><a href="#">Maison</a></li>
                </ul>
                <ul data-title="Mentions légales">
                    <li><a href="#">CGV</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Service client</a></li>
                </ul>
                <ul data-title="Retrouvez-nous">
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </nav>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
